.main-header {
  background-color: #00053e;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-bottom: 4px solid #ffc72c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.snek-h1 {
  font-size: 3em;
  font-weight: bold;
  color: #ffc72c;
  text-shadow: 2px 2px #222;
  margin: 0;
}

canvas {
  border: 0px solid black;
  padding: 10px;
  margin: auto;
  display: block;
  width: 800px;
}


#pauseButton {
  position: fixed;
  top: 64.5%;
  left: 370px;
  bottom: 220px;
  padding: 15px;
  padding-top: 4px;
  transform: translateY(-50%);
  background-color: transparent;
  border: 3px solid #000;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

#pauseButton:hover {
  color: #ffcc00;
  background-color: #fff;
}

#pauseOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#pauseText {
  color: white;
  font-size: 3em;
  font-weight: bold;
}

/*Score*/
#score {
  text-align: right;
  border: 1px solid #000;
  padding: 0;
  margin: auto;
  display: block;
  width: 150px;
}

/* D-Pad */
