header {
  background-color: navy;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-bottom: 4px solid gold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.snek-h1 {
  font-size: 3em;
  font-weight: bold;
  color: gold;
  text-shadow: 2px 2px #222;
  margin: 0;
}
